@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");

/* General */
.m_none {
  margin: 0;
}

.centerVH {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerVH_FDC {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Left Pane */

.LP {
  position: fixed;
  top: 0;
  left: 0;
  width: 217px;
  height: 100vh;
  color: white;
  background: #202a40;
  display: grid;
  grid-template-rows: 1fr 5fr 2fr 2fr 2fr;
}

.LP_photo {
  width: 7em;
  height: 7em;
  border-radius: 100%;
  border: 2px white solid;
}

.LP_button {
  color: #606060;
  text-decoration: none;
  border-top: 2px #202227 solid;
  border-bottom: 2px #202227 solid;
  width: 100%;
  height: 100%;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.active_icon_white {
  color: white;
}

a.LP_button:hover {
  background: #202227;
}

/* Center Pane */

/* Center Pane General */

.CP {
  padding-left: 225px;
  padding-right: 325px;
  padding-top: 1em;
  color: #606060;
}

.inner_box {
  background-color: #2a2e32;
  border-radius: 2em;
  padding: 1em;
  margin: 0.5em 0em;
}

.inner_box:hover {
  background-color: #363b40;
  color: white;
  opacity: 1;
}

.inner_box_heading {
  margin-bottom: 1em;
  text-align: center;
}

.chart_height {
  height: 85%;
}

/* Top Box */

.Top_Box {
  width: 100%;
  height: 40vh;
  transition-duration: unset;
}

.Top_Box:hover {
  background-color: #363b40;
  color: white;
  opacity: 1;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.Left_Bottom_Box::-webkit-scrollbar {
  width: 0.3em;
}

.Left_Bottom_Box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Left_Bottom_Box::-webkit-scrollbar-thumb {
  background-color: #202227;
  outline: 1px solid #202227;
}
/* Left Bottom Box */

.Left_Bottom_Box {
  width: 31%;
  height: 45vh;
  min-width: 280px;
  transition-duration: unset;
  overflow-y: scroll;
}

.Left_Bottom_Box:hover .user_email,
.Left_Bottom_Box:hover .user_location {
  background-color: #363b40;
  color: white;
  opacity: 1;
}

/* .Left_Bottom_Box:hover .user_email {
    color: white;
  } */

.user_info_outer {
  justify-content: flex-start;
  margin-bottom: 1.5em;
}

.person_logo {
  height: 2em;
  width: 2em;
  border: 1px solid white;
  border-radius: 100%;
}

.user_info_inner {
  padding-left: 0.75em;
}

.user_email {
  color: #a5a5a5;
  opacity: 0.7;
}

.user_location {
  opacity: 0.8;
}

/* Center Bottom Box */
.Center_Bottom_Box {
  width: 58%;
  height: 45vh;
  padding: 1em 1em 1em 0.25em;
}

/* Right Bottom Box */

.Right_Bottom_Box {
  width: 100%;
  height: 80vh;
}

/* Right Pane */

.RP {
  position: fixed;
  right: 0;
  top: 0;
  width: 275px;
  height: 100vh;
  color: white;
  background: #2c3338;
  display: grid;
  grid-template-rows: 0.5fr 2fr 9fr;
}
.incident-feed::-webkit-scrollbar {
  width: 0.3em;
}

.incident-feed::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.incident-feed::-webkit-scrollbar-thumb {
  background-color: #202227;
  outline: 1px solid #202227;
}

.incident-feed {
  overflow-y: scroll;
}
.Crime_Feed_outer {
  width: 100%;
  border-radius: 5%;
  margin-top: 2em;
}

.RP_button {
  color: #606060;
  text-decoration: none;
  border-bottom: 1px #202227 solid;
  width: 100%;
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

a.RP_button:hover {
  background: #202227;
}
